* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gutter-width: 30px;

  /* Font variables */
  --font-primary: 'Montserrat', sans-serif;
  --font-display: 'Oswald', sans-serif;

  /* Color variables */
  --gray: #424242;
  --gray-800: #252525;
  --gray-600: #333333;
  --gray-500: #696969;
  --gray-300: #e4e4e5;
  --gray-200: #f1f5f1;
  --blue: #4f98ea;
  --blue-darker: #2d66a7;
  --blue-gray: #879cbd;
  --white: #fff;
  --black: #000;
}

body {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 15px;
  color: var(--gray-500);
}

h1,
h2,
.h2,
h3,
h4,
.h4,
h5 {
  font-family: var(--font-display);
  font-weight: 300;
}

h1,
h2,
.h2,
h3,
h4,
.h4 {
  text-transform: uppercase;
}

h5 {
  font-weight: 700;
  color: var(--gray);
}

.h2 {
  font-size: 1.5rem;
}

.h4 {
  font-size: 17px;
}

.h1-highlight {
  color: var(--white);
}

.h3-highlight {
  color: var(--gray);
  font-weight: 600;
}


/****************************************
  * GLOBAL
**/

.container {
  width: 990px;
  max-width: 100%;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

/* .col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;} */

.col-3,
.col-4,
.col-6,
.col-8 {
  padding-left: calc(var(--gutter-width) / 2);
  padding-right: calc(var(--gutter-width) / 2);
}

.col-3 {
  flex: 1 25%;
}

.col-4 {
  flex: 1 33.33%;
}

.col-6 {
  flex: 1 50%;
}

.col-8 {
  flex: 1 66.66%;
}

/******* Image *******/
.img-responsive {
  width: 100%;
  height: 100%;
}

/******* Color *******/
.text-white {
  color: var(--white);
}

.text-blue {
  color: var(--blue);
}

/******* Buttons *******/

.btn {
  border: transparent;
  border-radius: 3px;
  padding: 12px 40px;
  text-transform: uppercase;
  font-size: 13px;
}

.btn-sm {
  padding: 10px 15px;
}

.btn:focus {
  outline: none;
}

.btn-blue {
  background-color: var(--blue);
  color: var(--gray-200);
  transition: background-color 0.1s;
}

.btn-blue:hover {
  background-color: var(--blue-darker);
}

.btn-gray200 {
  background-color: var(--gray-200);
  color: var(--gray);
}

.btn-gray200:hover {
  background-color: var(--gray-500);
  color: var(--white);
}

/******* Links *******/
.anchor {
  text-decoration: none;
}

/******* Margin & Padding *******/
.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.ml-0 {
  margin-left: 0;
}

.mr-0 {
  margin-right: 0;
}

.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/******* Arrow after *******/
.arrow-after {
  position: relative;
}

.arrow-after::after {
  position: absolute;
  left: 0;
  bottom: -30px;
  content: '';
  width: 40px;
  height: 40px;
  background-color: var(--gray-200);
  clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
}

/******* Box shadow *******/
.shadow-effect {
  box-shadow: 6px 2px 8px -6px var(--gray-500);
}

/****************************************
  * HEADER
**/

.header {
  padding-top: 1.5rem;
  background-color: var(--gray);
}

.header-title {
  margin-bottom: 2.5rem;
}

.header-text {
  margin-bottom: 2rem;
}

.header-columns {
  padding-bottom: 2rem;
}

.banner {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  background-color: var(--blue);
}

.banner-title {
  z-index: 20;
  padding-left: 40px;
  color: var(--gray-300);
}

.arrow {
  position: relative;
}

.banner::after {
  position: absolute;
  left: 0;
  z-index: 10;
  content: '';
  width: 120px;
  height: 110px;
  background-color: var(--blue);
  clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
}

/****************************************
  * MAIN
**/

.border-img {
  border-top: 12px solid transparent;
  border-image: url("assets/Border-BG.jpg") 40 round;
  background-color: var(--gray-300);
}

/****************************************
  * SECTION - INTRO
**/
.section-intro {
  margin-bottom: 3rem;
  padding-top: 6rem;
  padding-bottom: 2rem;
}

.intro-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  text-align: center;
}

.intro-item__icon {
  position: relative;
  background-color: var(--gray);
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.fa-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  color: var(--gray-200);
}

.hover-effect {
  position: relative;
  transition: all 0.1s ease-out;
  backface-visibility: hidden;
}

.hover-effect::after {
  display: none;
  position: absolute;
  left: 0;
  bottom: -35px;
  content: '';
  width: 40px;
  height: 40px;
  background-color: var(--gray-200);
  clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
}

.hover-effect:hover {
  background-color: var(--gray-200);
}

.hover-effect:hover .btn {
  /* display: none; */
  visibility: hidden;
}

.hover-effect:hover .intro-item {
  margin-bottom: -30px;
}

.hover-effect:hover.hover-effect::after {
  display: block;
}

.hover-effect:hover .intro-item__icon {
  background-color: var(--blue);
}

/****************************************
  * SECTION - WORK
**/
.section-work {
  position: relative;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.absolut-heading {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: var(--gray-300);
  z-index: 20;
}

.blog-item {
  margin-bottom: 3rem;
  background-color: var(--gray-200);
}

.blog-item__image {
  margin-bottom: 1rem;
}

.blog-item__title {
  padding-left: 15px;
}

.blog-item__text {
  padding: 5px 15px 40px 15px;
}


/****************************************
  * SECTION - TESTIMONIAL & DEVELOPMENT
**/
.section-testimonial {
  position: relative;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.testimonial-item {
  margin-bottom: 3rem;
  padding: 20px 40px;
  background-color: var(--gray-200);
}

.testimonial-item__title {
  margin-bottom: 10px;
}

.section-development {
  position: relative;
  padding-top: 3rem;
  padding-bottom: 3.5rem;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.tabs [type=radio],
.tab__content {
  display: none;   
}

.tab__label {
  background: var(--gray-200); 
  padding: 20px; 
  margin-left: -1px; 
  position: relative;
  left: 1px; 
  /* z-index: 1; */
}

.tab__content {
  width: 100%;
  padding: 20px;
  background: var(--white);
  order: 1;
}

[type=radio]:checked + .tab__label {
  background: var(--white);
  border-bottom: 1px solid white;
}

[type=radio]:checked + .tab__label + .tab__content {
  display: block;
}

.content-text {
  margin-top: 10px;
  margin-bottom: 20px;
}

.content-quote {
  margin-bottom: 40px;
}

.tab-btn {
  float: right;
}


/****************************************
  * FOOTER
**/
.section-footer {
  padding-top: 4rem;
  background-color: var(--gray);
  color: var(--gray-500);
}

.text-small {
  font-size: 12px;
}

.post-item {
  border-bottom: 1px solid var(--gray-500);
  padding-bottom: 1rem;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-bottom: 1rem;
}

.flex-item {
  flex: 22%;
  padding-top: calc(22% - 8px);
  margin: 2px;
  background-color: var(--gray-800);
}

.copyright {
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--gray-600);
  color: inherit;
}

.float {
  float: right;
}

.copyright__text {
  text-transform: uppercase;
}

.media-item {
  display: inline-block;
  position: relative;
}

.media-item:not(:first-child) {
  margin-left: 15px;
}

.media-icon {
  font-size: 30px;
}

.fab:hover,
.fas:hover {
  cursor: pointer;
  color: var(--gray-300);
}

.fa-arrow-alt-circle-up {
  float: right;
  margin-right: 20px;
  font-size: 3rem;
  color: var(--gray-500);
}

.fa-arrow-alt-circle-up:hover {
  color: var(--gray-300);
}

.scroll-top-btn {
  position: fixed;
  right: 0;
  bottom: 25px;
}

.icon-name-hover {
  visibility: hidden;
  /* display: none; */
  position: absolute;
  left: 10px;
  top: -30px;
  padding: 5px 10px;
  font-size: 13px;
  background-color: var(--gray-500);
  transition: all 0.2s ease-in-out;
}

.icon-name-hover::after {
  position: absolute;
  left: -0.5px;
  bottom: -10px;
  content: '';
  width: 12px;
  height: 12px;
  background-color: var(--gray-500);
  clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
}

.fab:hover .icon-name-hover,
.fas:hover .icon-name-hover {
  visibility: visible;
  /* display: block; */
  transform: translateY(-15px);
}

.text-transparent {
  color: transparent;
}

/****************************************
  * MEDIA QUERIES
**/
@media only screen and (max-width: 1150px) {
  .pr-6 {
    padding-right: 6rem;
  }
}

@media only screen and (max-width: 992px) {
  .col-3 {
    flex: 50%;
  }

  .flex-item {
    flex: 1 0 20%;
  }
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }

  .row {
    flex-direction: column;
  }

  .header {
    padding-bottom: 1.5rem;
  }

  .banner {
    display: none;
  }

  .section-intro {
    padding-top: 3rem;
    padding-bottom: 2rem;
  }

  .copyright__text {
    margin-bottom: 20px;
  }

  .flex-container {
    padding-bottom: 10rem;
  }

  .float {
    float: none;
  }

  .fab:hover .icon-name-hover,
  .fas:hover .icon-name-hover {
    display: none;
  }

  .media-icon {
    font-size: 20px;
  }

  .media-item:not(:first-child) {
    margin-left: 10px;
  }
}

@media only screen and (max-width: 568px) {
  .justify-content {
    justify-content: space-around;
  }

  .flex-container {
    padding-bottom: 50px;
  }
}


